<div style="position: fixed;
  top: 0;
  left: 0;
  width: 13%;
  height: 100%;
  background-color:aqua;
  border-right:dashed;
  border-bottom-color:black;
  border-width:1px">
    <ul style="font-size:120%">
        <li style="margin-top:20%">@Html.ActionLink("Компьютеры", "index", "Komputers")</li>
        <li style="margin-top:5%">@Html.ActionLink("Регистрация", "Register", "Home")</li>
        <li style="margin-top:5%">@Html.ActionLink("Авторизация", "Auth", "Home")</li>
    </ul>
</div>
<div style="position: fixed;
    top: 0;
    left: 13%;
    width: 100%;
    height: 100%;
    background-color:bisque">
    <div style="left:5%;top:5%;position:relative">
        
    </div
</div>
